.container {
    width: calc(100% * 0.85);
    margin: 9rem auto;
    padding-left: 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @media (max-width: 600px) {
        padding-left: 0;
        width: var(--site-content-1-width);
    }
}

.footer {
    display: flex;
    gap: 2rem;

    @media (max-width: 768px) {
        flex-direction: column;
    }
}

.author {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
