.container {
    position: relative;
    padding-top: 4.5rem;
    padding-bottom: 24rem;
    overflow-x: clip;

    &::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 4rem;
        border-left: 1px solid #c4c4c4;
        height: 100%;
        z-index: -1;
    }

    &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        width: calc(100% * 0.96);
        border-top: 1px solid #c4c4c4;
    }
}

.heading {
    width: calc(100% * 0.85);
    margin: 0 auto;

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 4rem;
        gap: 2rem;
    }
}

.slider {
    width: var(--site-content-2-width);
    margin: 20rem auto 15rem auto;
    padding-left: 2rem;
    display: flex;
    gap: 10rem;
    cursor: pointer;
}

.image {
    width: 100%;
    position: relative;
}

.content {
    width: 100%;
    position: relative;
    display: flex;

    > :first-child {
        position: absolute;
        top: 0;
        right: 0;
        transform: translateY(-50%);
    }
}

.slide {
    opacity: 0;
    transition: .3s ease-in-out;
    > img {
        max-width: 480px;
    }
}

.slide.active {
    opacity: 1;
}

.quote {
    width: var(--site-content-2-width);
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0 14rem;

    > div:nth-child(2) {
        width: 352px;
        position: absolute;
        top: 5rem;
        right: 5rem;
        transform: translateX(-50%);
    
        @media (max-width: 1100px) {
          position: static;
          transform: unset;
          align-self: flex-end;
          width: 45vw;
        }
    }
}